[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pymysql = "*"
pillow = "*"
coreapi = "*"
django-guardian = "*"
raven = "*"
django-redis = "*"
djangorestframework-jwt = "*"
pycryptodome = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.7"
